@use "@/app/styles/vars.scss" as *;
@use "@/app/styles/media-queries.scss" as *;

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    z-index: 20;
    opacity: 1;
    transition: opacity 1s ease-in-out;

    &.fade {
        opacity: 0;
    }

    .logo {
        width: auto;
        height: 150px;
        animation: flip 2s infinite;
        transition: all 2s ease-in-out;
    }

    &.loaded .logo {
        animation: none;
        width: 50px;
        height: 50px;
        position: absolute;
        }
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

 @include mobile-xl {
    .loader {

        &.loaded .logo {
            margin: 0 80px;
        }
    }
}

@include tablet-l {
    .loader {

    &.loaded .logo {
        width: auto;
        height: 110px;
        }
    }
}
