@use "@/app/styles/media-queries.scss" as *;

.numberContainer { 
    display: inline-flex;
    min-width: 60px;
}

.number {
    font-family: var(--font-poiret-one);
    color: var(--red-color);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
}

.numberDot {
    display: inline;
}

@include tablet-l {
    .numberContainer{
        border: 1px solid var(--gray-color);
        border-radius: 50%;
        padding: 0;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        min-width: 100px;
    }
    .numberDot{
        display: none;
    }
}