@use "@/app/styles/media-queries.scss" as *;
@use "@/app/styles/mixin.scss" as *;

.accordion {
    @include section-style;

    >.accordionItem:last-child {
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--gray-color);
    }

    .headingStyle {
        text-transform: var(--text-uppercase);
    }

    .textStyle {
        text-indent: var(--text-indent);
    }

    .container {
        @include section-style;


        @include tablet-l {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}