@use "@/app/styles/media-queries.scss" as *;
@use "@/app/styles/mixin.scss" as *;

.services {
    @include section-style;

    > .servicesItem:last-child {
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--gray-color);
    }

    .headingStyle{
        text-transform: var(--text-uppercase);
    }

    .textStyle {
        text-indent: var(--text-indent);
    }

    .container{
        @include section-style;

    
        @include tablet-l {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
