@use "@/app/styles/mixin" as *;

.label {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-family: var(--font-lato);
    font-weight: 700;
    font-size: var(--font-size-xs);
    color: var(--text-color);

    .input {
        position: relative;
        border: 1px solid var(--black-color);
        padding: 1rem;
        box-sizing: border-box;
        font-family: var(--font-lato);
        font-size: var(--font-size-xs);
        color: var(--text-color);
        background: var(--white);

        @include placeholder-support;

        &.error {
            border-color: var(--error-color);
        }

        &.auth {
            padding: 0.5rem;
        }
    }
}

.errorMessage {
    color: var(--error-color);
}