@use "@/app/styles/media-queries.scss" as *;
@use "@/app/styles/mixin.scss" as *;

.sectionProcess {
    @include section-style;
}

.headingStyle {
    text-transform: var(--text-uppercase);
}

.textProccess,
.textStyle {
    text-indent: var(--text-indent);
}

.textWithHyphens {
    text-align: justify;
    hyphens: auto;
}

.picture {
    width: 100%;

    @include tablet-m {
        min-width: 550px;
    }

    img {
        width: 100%;
        object-fit: contain;
    }
}

.container {
    @include tablet-m {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}