@use "@/app/styles/vars.scss" as *;
@use "@/app/styles/media-queries.scss" as *;


.skeleton {
    position: relative;
    display: inline-block;
    background: #d1d1d1;
    border-radius: 4px;
    overflow: hidden;


    &::after {
        content: "";
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(255,255,255,0)0%, rgba(255,255,255,0.4)50%, rgba(255,255,255,0) 100%);
        animation: shine 1.6s infinite linear;
    }
}


@keyframes shine {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}




