@use "@/app/styles/media-queries.scss" as *;

.text {
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

.lato {
  font-family: var(--font-lato);
}

.poiretOne {
  font-family: var(--font-poiret-one);
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.h1 {
  font-size: 32px;

  @include tablet-m {
    font-size: 32px;
  }
}

.h2 {
  font-size: 20px;

  @include tablet-m {
    font-size: 20px;
  }
}

.h3 {
  font-size: 16px;

  @include tablet-m {
    font-size: 16px;
  }
}

.p {
  font-size: 16px;

  @include tablet-m {
    font-size: 16px;
  }
}

.m {
  font-size: 16px;

  @include tablet-m {
<<<<<<< HEAD
    font-size: var(--font-size-m); 
=======
    font-size: 16px;
>>>>>>> main
  }
}

.s {
  font-size: 14px;

  @include tablet-m {
    font-size: 14px;
  }
}

.xs {
  font-size: 12px;

  @include tablet-m {
    font-size: 12px;
  }
}