@use "@/app/styles/vars.scss" as *;
@use "@/app/styles/media-queries.scss" as *;

.header {
  width: 100%;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  @include mobile-xl {
    padding: 20px 40px;
  }
}

.logo {
  height: 50px;
  width: auto;

  @include mobile-xl {
    height: 60px;
  }
}
