@use "@/app/styles/media-queries.scss" as *;

.card {
  height: 100%;
}

.text {
  text-indent: var(--text-indent);
  text-align: justify;
  hyphens: auto;

  @include tablet-m {
    min-height: 150px;
  }
}
