@import "@/app/styles/mixin.scss";
@import "@/app/styles/vars.scss";


.label{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-family: var(--font-lato);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xs);
    color: var(--text-color);
}

.textarea{
    width: 100%;
    min-height: 4rem;
    resize: none;
    padding: 1rem;
    line-height: var(--line-height);
    font-family: var(--font-lato);
    font-size: var(--font-size-xs);
    color: var(--text-color);
    border: 1px solid var(--black-color);
    background: var(--background-color);

    @include placeholder-support;
}

.error{
    border-color: var(--error-color);
}

.fieldMeta{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
}
.charCounter{
    color: var(--gray-dark-color);
    justify-self: end;
}
.errorMessage{
    color: var(--error-color)
}